:root {
  --bg-color: #0d1b2a;
  --wrapper-bg: #1b263b;
  --input-bg: #415a77;
  --text-color: #ffffff;
  --btn-bg: #778da9;
  --btn-hover-bg: #a1c6ea;
  --item-bg: #415a77;
  --item-hover-bg: #526c91;
}

.light-theme {
  --bg-color: #f7f7f7;
  --wrapper-bg: #ffffff;
  --input-bg: #e0e0e0;
  --text-color: #000000;
  --btn-bg: #1976d2;
  --btn-hover-bg: #42a5f5;
  --item-bg: #e0e0e0;
  --item-hover-bg: #bdbdbd;
}

.light-theme .todo-actions button {
  color: #000;
}

.light-theme .todo-actions button:hover {
  color: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

